<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="canonical" href="https://www.sampetulla.com">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
		<title>{{meta.title}}</title>
		<style>
			@import 'layout.css';
			@import 'headings.css';
			@import 'text.css';
			body {
				font-family: "Noto Sans";
				font-size: 1em;
				margin: 0;
				padding: 0;
		  	position: relative;
			}
			a {
				color: #262626;
				cursor: pointer;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}

		</style>
	</head>
		<header>
			<div class="sampetulla">
				<h1>Sam Petulla</h1>
			</div>
			<div class="job-title">
				<h2>Data scientist</h2>
			</div>
		</header>
		<main>
			<article>
				<p>{{{meta.introtext}}}</p>
			</article>
			<section id="{{meta.nav.item}}">
				<h2>{{meta.sections.ds.title}}</h2>
				<div class="ds-grid">
				{{#each ds.ds }}
					<div class="ds-block">
						<h3 class="ds-title">
							<a href="{{url}}">{{title}}</a>
						</h3>
						<figure class="ds-img">
							<a href="{{url}}"><img src="img/{{@key}}.png" /></a>
						</figure>
					</div>
				{{/each}}
				</div>
			</section>
			<section id="{{meta.nav.item1}}">
				<h2>{{meta.sections.etc.title}}</h2>
				{{#each etc.etc }}
					<h3 class="etc-title">
						<a href="{{url}}">{{title}}</a>
					</h3>
					<figure class="etc-img">
						<a href="{{url}}"><img src="img/{{@key}}.png" /></a>
					</figure>
				{{/each}}
			</section>
			<section id="{{meta.nav.item2}}">
				<h2>{{meta.sections.graphics.title}}</h2>
				{{#each projects.graphics }}
					<h3 class="graphics-title">
						<a href="{{url}}">{{text}}</a>
					</h3>
					<figure class="graphics-img">
						<a href="{{url}}"><img src="img/{{@key}}.png" /></a>
					</figure>
				{{/each}}
			</section>

		</main>
	</body>
</html>
